header {
   height: 180px;
   width: 100%;
   text-align: center;
}

h1, h3 {
   font-family: 'Racing Sans One', cursive;
   display: inline;
}

h1 {
   font-size: 64px;
}

h3 {
   font-size: 24px;
}

.header-container {
   padding-top: 20px;
   width: 100%;
   float:left;
}

.d-key {
   height: 24px;
   width: 24px;
}

.right-arrow-key {
   height: 24px;
   width: 24px;
}

.raceway-container {
   margin-top: 15px;
   width: 100%;
}

.players-container {
   width: 256px;
   float: left;
}

.finish_character {
   position: absolute;
   right: 0;
   transform: rotateY(90);
   -webkit-transition-duration: 8.8s;
   animation: spin 4s linear infinite;
}

.clearfix:after {
   clear: both;
}

.finish-line {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+11,ffffff+12,ffffff+25,000000+26,000000+37,ffffff+38,ffffff+50,000000+51,111111+62,ffffff+63,ffffff+75,000000+76,000000+87,ffffff+88,ffffff+100 */
   width: 100px;
   height: 500px;
   position: absolute;
   right: 0;
   float: right;
   background: #000000; /* Old browsers */
   background: -moz-linear-gradient(top, #000000 0%, #000000 11%, #ffffff 12%, #ffffff 25%, #000000 26%, #000000 37%, #ffffff 38%, #ffffff 50%, #000000 51%, #111111 62%, #ffffff 63%, #ffffff 75%, #000000 76%, #000000 87%, #ffffff 88%, #ffffff 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, #000000 0%,#000000 11%,#ffffff 12%,#ffffff 25%,#000000 26%,#000000 37%,#ffffff 38%,#ffffff 50%,#000000 51%,#111111 62%,#ffffff 63%,#ffffff 75%,#000000 76%,#000000 87%,#ffffff 88%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, #000000 0%,#000000 11%,#ffffff 12%,#ffffff 25%,#000000 26%,#000000 37%,#ffffff 38%,#ffffff 50%,#000000 51%,#111111 62%,#ffffff 63%,#ffffff 75%,#000000 76%,#000000 87%,#ffffff 88%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.rotator img {
   -webkit-animation: rotation;
   animation-timing-function: ease-in;
   animation-duration: 1.5s;
   animation-iteration-count: 2;
   animation-fill-mode: forwards;
}

@-webkit-keyframes rotation {
      from {
            -webkit-transform: rotateY(0deg);
      }
      to {
            -webkit-transform: rotateY(360deg);
      }
}

#raceway {
   width: 100%;
   float: left;
}